*{
  margin: 0; padding: 0; box-sizing: border-box;
  transition: all 0.3s;
}
*::after{
  box-sizing: border-box;
}
*::before{
  box-sizing: border-box;
}
.container{
  position: relative;
  display: flex;
  height: 100vh;
}
.container>.csscode{
  flex: 1;
  padding: 10px;
}
.container>.wrapper{
  flex: 1;
}

#code{
  height: 100%;
  overflow: hidden;
}
.container>.actions{
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 50%;
  padding: 3px;
  border-radius: 5px;
  background: #eee;
  transform: translateX(-100%);
}

@media screen and (max-width:480px){
  .container{
    width: 100vw;
    flex-direction: column;
  }
  .container>.csscode{
    height: 50%;
  }
  .container>.wrapper{
    height: 50%;
  }
  .container>.actions{
    transform: none;
  }
}