*{
  transition: all 0.3s;
}
.container{
  display: flex;
  height: 100vh;
}
.container>.csscode{
  flex: 1;
  padding: 10px;
}
.container>.wrapper{
  flex: 1;
}
#code{
  height: 100%;
  overflow: hidden;
}